<h1>ASP.NET Core Reporting Application</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Application uses</p>
<ul>
    <li>Reporting Client-Side Widgets</li>
    <li>ASP.NET Core MVC Reporting Controllers</li>
</ul>
<p>Overview</p>
<ul>
  <li>
    <a href="https://docs.devexpress.com/XtraReports/2162/index">Reporting</a>
  </li>
  <li>
    <a href="https://docs.devexpress.com/XtraReports/119717/creating-end-user-reporting-applications/web-reporting/asp.net-core-reporting">ASP.NET Core Reporting</a>
  </li>
  <li>
    <a href="https://docs.devexpress.com/XtraReports/17738/creating-end-user-reporting-applications/web-reporting/document-viewer/html5-document-viewer">Web Document Viewer</a>
  </li>
  <li>
    <a href="https://docs.devexpress.com/XtraReports/17103/creating-end-user-reporting-applications/web-reporting/report-designer">Web Report Designer</a>
  </li>
</ul>
