@model AspNetCoreReportingApp.Models.LoginScreenModel

@{
    ViewData["Title"] = "Select account";
}

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.Query["returnurl"]" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card text-center card  bg-default mb-3">
                    <div class="card-header">
                        LOGIN
                    </div>
                    <div class="card-body">
                        <select asp-for="UserId" class="form-control" asp-items="Model.Users"></select>
                        </br>
                        <input type="password" class="form-control input-sm chat-input" placeholder="Password" />
                    </div>
                    <div class="card-footer text-muted">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>